
* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* custom card height */
.card-h-100{
  height: calc(100% - 24px);
}
.head-title{
  color: #4485f4;
  font-weight: normal;
}
.btn-active:active{
  transform: translateY(4px);
}